{% extends 'base.html' %}

{% block content %}
    {% comment %} <h1>UPDATE</h1>
    <hr> {% endcomment %}
    {% comment %} <form action="{% url 'movies:update' movie.pk %}" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>
            Submit
        </button>
        <button type='reset'>
            Cancel
        </button>
    </form> {% endcomment %}
    {% comment %} <hr> {% endcomment %}
    {% comment %} <button type='button' onclick="location.href = '{% url 'movies:index' %}'; ">
        BACK
    </button> {% endcomment %}

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand fs-2" href="#">UPDATE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fs-4" aria-current="page" href="{% url 'movies:index' %}">HOME</a>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class='d-flex flex-row justify-content-center m-3'>
        <form action="{% url 'movies:update' movie.pk %}" method='POST'>
          {% csrf_token %}
          {% for field in form %}
            {{ field.label }}
            <br>
            <div>
              {{ field }}
            </div>
            <br>
          {% endfor %}
          <button type='submit' class='btn btn-outline-primary'>Submit</button>
        </form>
    </div>
{% endblock content %}